In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from pathlib import Path

In [20]:
# Study data files
mouse_metadata_path = Path('.','data','Mouse_metadata.csv')
study_results_path = Path('.','data','Study_results.csv')

In [46]:
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
mouse_metadata_result = pd.merge(study_results,mouse_metadata,how="left",on="Mouse ID")
                                 
# Display the data table for preview
mouse_metadata_result.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [47]:
# Checking the number of mice.
Mice_count =len(mouse_metadata_result["Mouse ID"].unique())
Mice_count

249

In [48]:
# Our data should be uniquely identified by Mouse ID and Timepoint
Mice_df = mouse_metadata_result.set_index("Mouse ID")["Timepoint"].unique()

# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
Mice_df

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45], dtype=int64)

In [54]:
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
Mice_duplicate_df = mouse_metadata_result[mouse_metadata_result.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)]
Mice_duplicate_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26

In [56]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
Mice_non_duplicate_df = mouse_metadata_result[~mouse_metadata_result.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)]
Mice_non_duplicate_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [57]:
Mice_count =len(Mice_non_duplicate_df["Mouse ID"].unique())
Mice_count

249

# Summary Statistics

In [60]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
grouped_data = Mice_non_duplicate_df.groupby('Drug Regimen')['Tumor Volume (mm3)']

grouped_data.describe()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
# mean, median, variance, standard deviation, and SEM of the tumor volume.
# Assemble the resulting series into a single summary DataFrame.

,count,mean,std,min,25%,50%,75%,max
Drug Regimen,,,,,,,,
Capomulin,230.0,40.675741,4.994774,23.343598,37.685933,41.557809,45.000000,48.158209
Ceftamin,178.0,52.591172,6.268188,45.000000,47.208427,51.776157,56.801438,68.923185
Infubinol,178.0,52.884795,6.567243,36.321346,47.312353,51.820584,57.314444,72.226731
Ketapril,188.0,55.235638,8.279709,45.000000,48.232987,53.698743,60.870951,78.567014
Naftisol,186.0,54.331565,8.134708,45.000000,47.285874,52.509285,59.963034,76.668817
Placebo,181.0,54.033581,7.821003,45.000000,47.459053,52.288934,59.916934,73.212939
Propriva,151.0,52.458254,6.637293,45.000000,47.011050,50.854632,56.528101,72.455421
Ramicane,228.0,40.216745,4.846308,22.050126,36.674635,40.673236,45.000000,47.622816
Stelasyn,181.0,54.233149,7.710419,45.000000,48.047139,52.431737,58.719297,75.123690
Zoniferol,182.0,53.236507,6.966589,45.000000,47.337876,51.818479,57.954259,73.324432